<a href="https://colab.research.google.com/github/spacepirate07/Probabilidad-/blob/main/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Unidad 1
#**Practica 3: Tablas de frecuencias**
##Facilitador: Dr. Jose Gabriel Rodriguez Rivas
##Alumno: Erick Daniel Galarza Garcia

In [7]:
import random
edades=[]
for i in range(100):
  numero_aleatorio=random.randint(18,70)
  edades.append(numero_aleatorio)
print(edades)

[51, 24, 60, 60, 64, 49, 69, 44, 49, 21, 63, 19, 52, 27, 21, 63, 65, 59, 60, 51, 53, 68, 42, 44, 20, 66, 53, 45, 47, 45, 31, 48, 34, 70, 61, 37, 30, 59, 22, 28, 61, 54, 24, 39, 64, 58, 67, 31, 34, 36, 62, 44, 49, 28, 58, 55, 28, 32, 28, 26, 41, 69, 21, 38, 66, 53, 47, 61, 41, 46, 65, 40, 25, 67, 29, 43, 67, 46, 52, 70, 56, 39, 52, 35, 50, 51, 57, 48, 23, 18, 33, 25, 18, 68, 29, 19, 32, 40, 60, 21]

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    51
1    24
2    60
3    60
4    64

In [14]:
tabla_frecuencias=df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns=['Edad','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edad')
print("Tabla de distribucion de frecuencias:")
tabla_frecuencias

Tabla de distribucion de frecuencias:

    Edad  Frecuencia
22    18           2
18    19           2
34    20           1
1     21           4
43    22           1
51    23           1
12    24           2
32    25           2
45    26           1
35    27           1
2     28           4
23    29           2
41    30           1
24    31           2
33    32           2
52    33           1
27    34           2
47    35           1
39    36           1
42    37           1
44    38           1
21    39           2
30    40           2
31    41           2
36    42           1
46    43           1
3     44           3
17    45           2
29    46           2
13    47           2
28    48           2
8     49           3
49    50           1
4     51           3
5     52           3
6     53           3
40    54           1
37    55           1
48    56           1
50    57           1
26    58           2
14    59           2
0     60           4
7     61           3
38    62           1
10    63           2
11    64           2
19    65           2
16    66           2
9     67           3
15    68           2
20    69           2
25    70           2

In [15]:
tabla_frecuencias['Frec. Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa
22    18           2            0.02
18    19           2            0.02
34    20           1            0.01
1     21           4            0.04
43    22           1            0.01
51    23           1            0.01
12    24           2            0.02
32    25           2            0.02
45    26           1            0.01
35    27           1            0.01
2     28           4            0.04
23    29           2            0.02
41    30           1            0.01
24    31           2            0.02
33    32           2            0.02
52    33           1            0.01
27    34           2            0.02
47    35           1            0.01
39    36           1            0.01
42    37           1            0.01
44    38           1            0.01
21    39           2            0.02
30    40           2            0.02
31    41           2            0.02
36    42           1            0.01
46    43           1            0.01
3     44           3            0.03
17    45           2            0.02
29    46           2            0.02
13    47           2            0.02
28    48           2            0.02
8     49           3            0.03
49    50           1            0.01
4     51           3            0.03
5     52           3            0.03
6     53           3            0.03
40    54           1            0.01
37    55           1            0.01
48    56           1            0.01
50    57           1            0.01
26    58           2            0.02
14    59           2            0.02
0     60           4            0.04
7     61           3            0.03
38    62           1            0.01
10    63           2            0.02
11    64           2            0.02
19    65           2            0.02
16    66           2            0.02
9     67           3            0.03
15    68           2            0.02
20    69           2            0.02
25    70           2            0.02

In [16]:
tabla_frecuencias['Frec. Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual
22    18           2            0.02               2.0
18    19           2            0.02               2.0
34    20           1            0.01               1.0
1     21           4            0.04               4.0
43    22           1            0.01               1.0
51    23           1            0.01               1.0
12    24           2            0.02               2.0
32    25           2            0.02               2.0
45    26           1            0.01               1.0
35    27           1            0.01               1.0
2     28           4            0.04               4.0
23    29           2            0.02               2.0
41    30           1            0.01               1.0
24    31           2            0.02               2.0
33    32           2            0.02               2.0
52    33           1            0.01               1.0
27    34           2            0.02               2.0
47    35           1            0.01               1.0
39    36           1            0.01               1.0
42    37           1            0.01               1.0
44    38           1            0.01               1.0
21    39           2            0.02               2.0
30    40           2            0.02               2.0
31    41           2            0.02               2.0
36    42           1            0.01               1.0
46    43           1            0.01               1.0
3     44           3            0.03               3.0
17    45           2            0.02               2.0
29    46           2            0.02               2.0
13    47           2            0.02               2.0
28    48           2            0.02               2.0
8     49           3            0.03               3.0
49    50           1            0.01               1.0
4     51           3            0.03               3.0
5     52           3            0.03               3.0
6     53           3            0.03               3.0
40    54           1            0.01               1.0
37    55           1            0.01               1.0
48    56           1            0.01               1.0
50    57           1            0.01               1.0
26    58           2            0.02               2.0
14    59           2            0.02               2.0
0     60           4            0.04               4.0
7     61           3            0.03               3.0
38    62           1            0.01               1.0
10    63           2            0.02               2.0
11    64           2            0.02               2.0
19    65           2            0.02               2.0
16    66           2            0.02               2.0
9     67           3            0.03               3.0
15    68           2            0.02               2.0
20    69           2            0.02               2.0
25    70           2            0.02               2.0

In [17]:
tabla_frecuencias['Frec. Acumulada']=tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual  Frec. Acumulada
22    18           2            0.02               2.0                2
18    19           2            0.02               2.0                4
34    20           1            0.01               1.0                5
1     21           4            0.04               4.0                9
43    22           1            0.01               1.0               10
51    23           1            0.01               1.0               11
12    24           2            0.02               2.0               13
32    25           2            0.02               2.0               15
45    26           1            0.01               1.0               16
35    27           1            0.01               1.0               17
2     28           4            0.04               4.0               21
23    29           2            0.02               2.0               23
41    30           1            0.01               1.0               24
24    31           2            0.02               2.0               26
33    32           2            0.02               2.0               28
52    33           1            0.01               1.0               29
27    34           2            0.02               2.0               31
47    35           1            0.01               1.0               32
39    36           1            0.01               1.0               33
42    37           1            0.01               1.0               34
44    38           1            0.01               1.0               35
21    39           2            0.02               2.0               37
30    40           2            0.02               2.0               39
31    41           2            0.02               2.0               41
36    42           1            0.01               1.0               42
46    43           1            0.01               1.0               43
3     44           3            0.03               3.0               46
17    45           2            0.02               2.0               48
29    46           2            0.02               2.0               50
13    47           2            0.02               2.0               52
28    48           2            0.02               2.0               54
8     49           3            0.03               3.0               57
49    50           1            0.01               1.0               58
4     51           3            0.03               3.0               61
5     52           3            0.03               3.0               64
6     53           3            0.03               3.0               67
40    54           1            0.01               1.0               68
37    55           1            0.01               1.0               69
48    56           1            0.01               1.0               70
50    57           1            0.01               1.0               71
26    58           2            0.02               2.0               73
14    59           2            0.02               2.0               75
0     60           4            0.04               4.0               79
7     61           3            0.03               3.0               82
38    62           1            0.01               1.0               83
10    63           2            0.02               2.0               85
11    64           2            0.02               2.0               87
19    65           2            0.02               2.0               89
16    66           2            0.02               2.0               91
9     67           3            0.03               3.0               94
15    68           2            0.02               2.0               96
20    69           2            0.02               2.0               98
25    70           2            0.02               2.0              100